# compiled output
frontend/tmp
frontend/out-tsc

# dependencies
node_modules

# IDEs and editors
graphs tool/graphs/idea
graphs tool/graphs/project
graphs tool/graphs/classpath
graphs tool/graphs/c9/
*.launch
graphs tool/graphs/settings/
*.sublime-workspace

# IDE - VSCode
graphs tool/graphs/vscode/*
!graphs tool/graphs/vscode/settings.json
!graphs tool/graphs/vscode/tasks.json
!graphs tool/graphs/vscode/launch.json
!graphs tool/graphs/vscode/extensions.json

# misc
graphs tool/graphs/.sass-cache
graphs tool/graphs/connect.lock
graphs tool/graphs/coverage
graphs tool/graphs/libpeerconnection.log
graphs tool/graphs/npm-debug.log
graphs tool/graphs/testem.log
graphs tool/graphs/typings

# e2e
graphs tool/graphs/e2e/*.js
graphs tool/graphs/e2e/*.map

#debug file
graphs tool/back/npm-debug.log

# System Files
.DS_Store
Thumbs.db

# Pythons Files
*/__pycache__/*
**/__pycache__/*
*.pyc
