<div class="homepage">


  <div class="main-card">

    <span class="profile-image">
      <img src="./assets/photo.jpg" alt="profile picture"/>
    </span>

    <span class="name">
      <h2>Aurélien Hugues</h2>
    </span>

    <span class="title">
      <h3>Engineering Student CentraleSupélec</h3>
    </span>

    <span class="cv">
      <a href="http://aurelienhugues.com">My CV</a>
    </span>

    <span class="linkedin">
      <a href="https://www.linkedin.com/in/aurhugues/">
        <img src="./assets/linkedin.png" alt="linkedin logo" />
      </a>
    </span>

    <span class="github">
      <a href="https://github.com/aHugues">
        <img src="./assets/github.png" alt="github logo" />
      </a>
    </span>

  </div>

</div>
