<div class="contact-page">

  <div class="contact-card">

    <span class="card-title">
      <h2>Contact</h2>
    </span>

    <form>
      <div class="form-container">


        <label for="returnEmail">Email</label>
        <input type="text" class="email-input form-control" id="returnEmail" required placeholder="Your email">

        <label for="content">Message content</label>
        <textarea class="form-control" id="content" required placeholder="Your message"></textarea>


        <button type="submit" class="btn btn-success send-button" (click)="alertNotImplemented()">Send message</button>

      </div>

    </form>

  </div>



</div>
