<div class="contact-page">

  <div class="contact-card">

    <span class="card-title">
      <h2>Contact</h2>
    </span>

    <form>

      <div class="form-group">
        <label for="returnEmail">Email</label>
        <input type="text" class="form-control" id="returnEmail" required>
      </div>

      <div class="form-group">
        <label for="content">Message content</label>
        <input type="text" class="form-control" id="content" required>
      </div>

      <button type="submit" class="btn btn-success">Send message</button>

    </form>

  </div>



</div>
