/* import color palette for the styles */
@import "./colors.css";

/* container for the whole top navbar */
.navbar-container {
    display: flex;
    flex-direction: row;
    vertical-align: center;
    background-color: var(--primary, #436AB9);
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.spacer-1 {
  flex: 1;
}

.spacer-2 {
  flex: 2;
}

.navbar-element-static {
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.navbar-element {
  flex: 1;
  margin-left: 10px;
  margin-right: 10px;
}


.navbar-element:hover {
  background-color: var(--primary-hover, #174db7);
  cursor: pointer;
}

.navbar-link {
    margin: auto;
}

.navbar-link a {
  text-decoration: none;
  color: white;
}

.navbar-title {
  margin: auto;
    color: white;
}

.navbar-element-content {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: stretch;
}
