.samplespage {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 15px;
}

.sample-wrapper {
  height: 100%;
}

.title {
  margin: 0;
}

.sample-container {
  border-radius: 5px;
  background-color: white;
  height: 100%;
}

.sample-content {
  padding: 10px 10px 10px 10px;
}

.samplespage-wrapper {
  margin: 10px 10px 10px 10px;
}

.sample-container .title {

}

.sample-container .description {
}

.sample-container .illustration-container {
  text-align: center;
}

.sample-container .illustration-container img {
  width: 80%;
}

@media only screen and (max-width: 500px) {
  .samplespage {
    grid-template-columns: 100%;
  }
}
