<div class="navbar-container">

  <span class="navbar-element-static">
    <span class="navbar-title">Aurélien Hugues</span>
  </span>

  <span></span>

  <span *ngFor="let link of navlinks" class="navbar-element">
    <app-navbar-button [link]="link"></app-navbar-button>
  </span>

  <span></span>

  <span class="open-menu">
    <span class="open-menu-content">
      <span (click)="toggleVerticalNavbar()" class="menu-toggler">
        <i class="fas fa-bars"></i>
      </span>
    </span>
  </span>

</div>

<div class="vertical-navbar-container" id="verticalNavbar">

  <span></span>

  <span *ngFor="let link of navlinks" class="vertical-navbar-element">
    <app-navbar-button [link]="link"></app-navbar-button>
  </span>

  <span></span>
</div>
